<div class="container">
  <h1 class="text-center my-3">{{title}}</h1>
  <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="add-doctor" >Add Doctor</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']"  routerLink="add-patient">Add Patient</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']"  routerLink="show-doctor">Show Doctor Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']"  routerLink="show-patient">Show Patient Information</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
